body {
    padding-top: 5rem;
    background-color: #e3e4e7;
}

/* Adding a Property */

.header {
    font-weight: bold;
    font-size: 40px;
    margin-left: 2%;
}

.container1 {
    background-color: #fff;
    padding: 50px 100px 100px 100px;
    width: 90%;
}

.proPT {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
}

textarea {
    resize:none;
    height: 100px;
}

.photoForm {
    display: flex;
}

.form-group{
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.locationIcon{
    display:flex;
}

.locationPic {
    height:30px;
    width:30px;
    margin-right:2%;
    margin-bottom: 5%;
}

.btn-primary{
    margin-top: 5%;
    border-radius: 10px;
    padding: 20px;
    font-weight: 700;
    border-style: none;
}

.btn-primary:active {
    box-shadow: 0 5px rgb(10, 10, 10);
    transform: translateY(6px);
}

/* Listing Properties */

.header2 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 3%;
}

.card-width {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.propertyPict {
    width: 100%;
    height: 300px;
}

.details {
    padding: 15px;
}


.details h3, .location {
    font-family: 'Times New Roman', Times, serif;
}

.details h3 {
    font-weight: bold;
}

.location{
    font-weight: bold;
    color: #b1b3b5;
    font-size: 20px;
}

.viewButton {
    background-color: #0d6efd;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.priceTag {
    font-weight: bold;
    color: #fff;
    background-color: #4d8ff3;
    border-radius: 20px;
    padding: 10px;
    padding-right: 15px;
    width: fit-content;
    font-size: 20px;
}

.propRow {
    display: grid;
    grid-template-columns: repeat(3,1.5fr);
    gap: 20px;
}

/*View Property*/

.singleProp {
    margin-left: 10%;      
    margin-right: 18%;
    width: 80%;
}

.cardrow {
    display: grid;
    grid-template-columns: repeat(2,1.5fr);
    margin-top: 18%;
    margin-bottom: 18%;
    height: 520px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pbody {
    padding:10px;
    padding-left:20px;
    margin-right:20%;
    width: 90%;
}


.bathpic {
    height: 30px;
    width: 30px;
}

.btn-email {
    background-color: #0d6efd;
    color: #fff;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

.proplocation, .rooms, .descpara {
    font-family:'Times New Roman', Times, serif;
}

.proplocation, .rooms, .descpara {
    font-size: larger;
}

.proplocation {
    margin-bottom: 10%;
}

.propertPic {
    height: 100%;
    width: 100%;
} 

.rooms {
    margin: 15px 0;
    margin-bottom: 7%;
}

.descpara {
    margin-top: 10%;
}

.prop-details {
    display: flex;
}

.priceCircle, .propType {
    margin-top: 5%;
    font-weight: bold;
    color: #fff;
    background-color: #4d8ff3;
    border-radius: 20px;
    padding: 10px;
    padding-right: 10px;
    width: fit-content;
    font-size: 15px;
    text-align: center;
}

.propType {
    background: #f4c837;
    margin-left:5%;
}

