{% extends "base.html" %}

{% block main %}

<div class = "propRow">
    <h1 class="header"> Properties </h1>
    {% include 'flash_messages.html' %}
    
    <div>
        {% for prop in properties %}
        <div class="card">
            <div> <img class ="pic" src="{{url_for('get_image',filename=prop.photo)}}" alt="Apartment Picture"> </div>
        </div>
    </div>

    <div class = "details">
        <h3 class= "title"> {{prop.propertyDesc}} </h3>
        <p class= "location"> {{prop.location}} </p>
        <p>{{prop.price}} </p>
    </div>

    <div>
        <a href = "{{url_for('pid', pid=prop.id)}}" class= "viewProp"> View Property</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
